

.landing__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: black;
    position: relative;
    background-image: url("../../asset/img/vitchennai-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}


.landing__header a {
    text-decoration: none;
    color: white;
}

.landing__header__container {
    width: 40%;
    min-height: 450px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.landing__header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.landing__header__main {
    font-size: 4.0rem;
    font-weight: 800;
}

.landing__header__discount {
    font-size: 1.2rem;
    color: #ffe26e;
}

.landing__button {
    width: 60%;
    cursor: pointer;
    transition: .3s;
    color: white;
}

.landing__image__container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__image {
    height: auto;
    width: auto;
    top: 0%;
    z-index: 10;
}


@media screen and (max-width: 850px) {
    .landing__image__container{
       display: none;
    }
}
