

.navbrand__container {
    height: 100%;
    width: 20%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.navbrand__logo {
    height: 200px;
    position: relative;
    top: 20px;
}


@media screen and (max-width: 600px) {
    .navbrand__container  {
        align-self: center;
    }

    .navbrand__logo {
        height: 100px;
        top: 0;
    }
}